{% extends 'core/base.html' %}
{% load static %}
{% block container_class %}{% endblock %}
{% block content %}

<div class="background">
    <div class="message-container">
        <h1>Please Check your Email to verify your account</h1>
    </div>
</div>


<style>
    .background {
        background-image: url("{% static 'images/general_images/cloud_bg.jpg' %}");
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items:flex-start;
        padding-top: 10%;
    }
    .message-container {
        background: rgba(255, 255, 255, 0.8); /* semi-transparent background */
        padding: 20px 40px;
        border-radius: 8px;
        text-align: center;
    }
    .message-container h1 {
        color: #333;
        font-size: 3em;
        margin: 0;
    }
</style>

{% endblock %}

