{% extends 'authenticate/base.html' %}

{% block content %}

<h1 style="text-align: center;">Your Personalised Weather Forecast</h1>

{% if user.is_authenticated %}
	
	<p>Name: {{ user.first_name }} {{ user.last_name }}</p>
	<p>Username: {{ user.username}}</p>
	<p>Email: {{ user.email }}</p>
	

    {% if user.userprofile.latitude and user.userprofile.longitude %}
        <p>Your current location is:</p>
        <p>Latitude: {{ user.userprofile.latitude }}</p>
        <p>Longitude: {{ user.userprofile.longitude }}</p>
		{% if city %}
            <p>Your nearest city: {{ city }}</p>
        {% else %}
            <p>Unable to determine your city.</p>
        {% endif %}
        {% if weather_data %}
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Day</th>
                    <th>Summary</th>
                    <th>Temperature</th>
                    <th>Temperature Min</th>
                    <th>Temperature Max</th>
                    <th>Precipitation Amount</th>
                    <th>Precipitation Type</th>
                    <th>Wind Speed</th>
                </tr>
            </thead>
            <tbody>
                {% for data in weather_data %}
                <tr>
                    <td>{{ data.day }}</td>
                    <td>{{ data.summary }}</td>
                    <td>{{ data.temperature }}</td>
                    <td>{{ data.temperature_min }}</td>
                    <td>{{ data.temperature_max }}</td>
                    <td>{{ data.precipitation_amt }}</td>
                    <td>{{ data.precipitation_type }}</td>
                    <td>{{ data.wind_speed }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    {% else %}
        <p>No weather forecast available for the upcoming days.</p>
    {% endif %}

    {% else %}
        <p>Your location is not available yet. Please sign up here.</p>
    {% endif %}


{% endif %}


{% endblock %}