{% extends 'authenticate/base.html' %}
{% load static %}

{% block content %}

<h1 style="text-align: center;">{{ user.first_name }}'s Personalised Weather Forecast</h1>

<div class="row align-items-center">
    <div class="col-md-4">
        <!-- City Card -->
        {% if city %}
        <div class="card city-card">
            <div class="card-body">
                <h5 class="card-title">Current Location</h5>
                <p class="card-text">{{ city }}</p>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-md-4 d-flex justify-content-center">
        <!-- Search Form -->
        <form method="GET" action="{% url 'home' %}" class="search-form d-flex align-items-center">
            <input class="form-control mr-2" type="text" name="location" placeholder="Get forecast for somewhere else">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
        <!-- Insights Button -->
        <a href="{% url 'insights' %}" class="btn btn-secondary btn-lg">Insights</a>
    </div>
</div>

<!-- Forecast Table -->
{% if weather_data %}
<h2>Forecast for {{ city }}</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Day</th>
            <th scope="col">Summary</th>
            <th scope="col">Icon</th>
            <th scope="col">Temperature Min</th>
            <th scope="col">Temperature Max</th>
            <th scope="col">Precipitation Amount</th>
            <th scope="col">Precipitation Type</th>
            <th scope="col">Wind Speed</th>
        </tr>
    </thead>
    <tbody>
        {% for data in weather_data %}
        <tr>
            <td>{{ data.day }}</td>
            <td>{{ data.summary }}</td>
            <td><img src="{% static 'images/icons/' %}{{ data.icon }}.png" alt="Icon"></td>
            <td>{{ data.temperature_min }}</td>
            <td>{{ data.temperature_max }}</td>
            <td>{{ data.precipitation_amt }}</td>
            <td>{{ data.precipitation_type }}</td>
            <td>{{ data.wind_speed }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No weather forecast available for the upcoming days.</p>
{% endif %}

{% endblock %}
