{% extends 'base.html' %}
{% load static %}
{% block container_class %}{% endblock %}
{% block content %}
<style>
    .container-fluid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        height: 100vh;
        align-items: center; /* Center items vertically */
        text-align: center;
    }
    #text-container {
        flex: 2 1 55%;
        padding-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center text vertically within its container */
    }
    #image-container {
        flex: 1 1 45%;
        display: flex;
        justify-content: center;
        align-items: center; /* Center the image vertically */
    }
    #image-container img {
        max-width: 100%; /* Ensure the image scales properly */
        height: auto;
    }
    #start-tracking-btn {
        min-width: 250px;
        width: 50%;
        justify-content: center;
        font-size: 30px;
        border-radius: 50px;
        padding: 10px;
        margin: 0 auto; /* Center the button horizontally */
    }

    /* Responsive Styles */
    @media (max-width: 768px) {
        .container-fluid {
            flex-direction: column;
            height: auto; /* Adjust height for mobile view */
        }
        #text-container, #image-container {
            flex: 1 1 100%; /* Full width for both containers */
            padding-left: 0; /* Remove left padding for mobile */
        }
    }
</style>
<div class="container-fluid">
    <div id="text-container">
        <h1 id="main-title">Take Control of how the Weather Impacts your Mood</h1>
        <h3 id="secondary-title">Join us for free today</h3>
        <br>
        <a href="{% url 'account_signup' %}" class="btn btn-primary" id="start-tracking-btn">Start Tracking</a>
    </div>
    <div id="image-container">
        <img src="{% static 'images/general_images/mock_mobile.png' %}" alt="Landing Page Image">
    </div>
</div>
{% endblock %}
