{% extends 'core/base.html' %}

{% block content %}

<style>
    .centered-form {
        display: flex;
        justify-content: center;
        align-items: flex-start; /* Center vertically */
        padding-top: 150px;
        min-height: 100vh; /* Ensure the container takes up the full height of the viewport */
    }
    .form-container {
        width: 100%;
        max-width: 600px; /* Adjust as needed */
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        background-color: #fff;
    }

    .form-item {
        width: calc(100% - 20px); /* 20px padding on both sides */
        max-width: 100%;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .form-control {
        margin-bottom: 15px;
        width: 100%;
        box-sizing: border-box;
    }

    .btn-block {
        width: 100%;
    }

    /* Media query for mobile devices */
    @media (max-width: 768px) {
        .centered-form {
            align-items: flex-start;
            padding-top: 30px;
        }
        .form-container {
            padding: 10px;
        }
    }
</style>

<div class="container centered-form">
    <div class="form-container">
        <h2 class="text-center">Login</h2>
        <br>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control form-item" placeholder="Enter Username" name="username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control form-item" placeholder="Enter Password" name="password">
            </div>
            <button type="submit" class="btn btn-secondary btn-block form-item">Login</button>
        </form>
    </div>
</div>

{% endblock %}
