{% extends 'core/base.html' %}

{% block content %}

<style>
    .centered-form {
        height: 100vh; /* Full viewport height */
        display: flex;
        justify-content: center;
    }
    .form-container {
        width: 100%;
        max-width: 600px; /* Adjust as needed */
        padding: 20px;
        background-color: #fff;
        padding-block-end: 10%;
    }

    .form-item {
        margin-bottom: 15px; /* Space between form elements */
        display: block; /* Make input fields block-level elements */
        width: 100%;
    }

    .form-control {
        margin-bottom: 15px; /* Space between form elements */
        display: block; /* Make input fields block-level elements */
        width: 100%;
    }

    /* Media query for mobile devices */
    @media (max-width: 768px) {
        .form-container {
            padding: 10px; /* Padding for mobile devices */
        }
    }
</style>

<div class="container centered-form">
    <div class="form-container">
        <h2 class="text-center">Register</h2>
        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-warning alert-dismissable" role="alert">
                    <button class="close" data-dismiss="alert">
                        <small><sup>x</sup></small>
                    </button>
                    <p>Your Form Has Errors...</p>
                    {% for field in form %}
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            
            {{ form.as_p }}

            <div class="form-group">
                <label for="hometown">Hometown</label>
                <input 
                    type="text" 
                    id="hometown" 
                    name="hometown" 
                    class="form-control form-item" 
                    placeholder="Start typing your hometown..." 
                    onkeyup="fetchCitySuggestions(this.value)" 
                    autocomplete="off"
                />
                <ul id="suggestions" class="list-group mt-1"></ul>
            </div>

            <!-- Hidden input fields for latitude and longitude -->
            <input type="hidden" id="latitude" name="latitude">
            <input type="hidden" id="longitude" name="longitude">
            <input type="hidden" id="country"   name="country">

            <input type="submit" value="Register" class="btn btn-secondary btn-block form-item">
        </form>
    </div>
</div>

{% endblock %}
