{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Update Your Details</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="first_name">First Name:</label>
        {{ form.first_name }}
    </div>
    <div class="form-group">
        <label for="last_name">Last Name:</label>
        {{ form.last_name }}
    </div>

    <!-- Hometown input with search box for location -->
    <div class="form-group">
        <label for="hometown">Hometown:</label>
        {{ form.hometown }}
        <ul id="suggestions" class="list-group"></ul>  <!-- Dropdown for city suggestions -->
    </div>

    <!-- Hidden fields for latitude and longitude -->
    <div style="display: none;">
        {{ form.latitude }}
        {{ form.longitude }}
    </div>

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary">Save Details</button>
</form>



{% endblock %}
