{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {% block extra_head %}{% endblock %}
    <title>ClearSky App</title>

    <!-- Link to Google Fonts for Lexend font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo/logo.png' %}" alt="ClearSky" style="height: 40px;">
        </a>        
        <!-- Solutions nav item to the left of the navbar -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'solutions' %}">Solutions</a>
            </li>
        </ul>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'edit_profile' %}">Edit Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'change_password' %}">Change Password</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    
    <div class="{% block container_class %}container{% endblock %}">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissable" role="alert">
                    <button class="close" data-dismiss="alert">
                        <small><sup>x</sup></small>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}
        {% if user.is_authenticated %}
        <div class="modal fade" id="helloModal" tabindex="-1" role="dialog" aria-labelledby="helloModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="helloModalLabel">Hello {{ user.first_name|default:user.username }}!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-center">
                        <h1 class="mb-4">How would you rate the weather in {{ user.userprofile.hometown }} today?</h1>
                        <div style="display: flex; justify-content: center; gap: 10px;">
                            <button class="rating-btn" data-value="1"><span>☹️</span></button>
                            <button class="rating-btn" data-value="2"><span>🙁</span></button>
                            <button class="rating-btn" data-value="3"><span>😐</span></button>
                            <button class="rating-btn" data-value="4"><span>🙂</span></button>
                            <button class="rating-btn" data-value="5"><span>😊</span></button>
                        </div>
                        
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Skip</button>
                        <button type="button" id="submitRating" 
                                data-url="{% url 'submit_feedback' %}" 
                                data-hometown="{{ user.userprofile.hometown }}" 
                                data-latitude="{{ user.userprofile.latitude }}" 
                                data-longitude="{{ user.userprofile.longitude }}" 
                                class="btn btn-primary btn-lg">
                            Submit
                        </button>
                    </div>
                    
                </div>
            </div>
        </div>
        {% endif %}
        
</div>
    <!-- JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script>
      const isAuthenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
    </script>
    <script src="{% static 'js/feedback.js' %}"></script>
    <script src="{% static 'js/findcity.js' %}"></script>
    
</div>

</html>
