<!-- <div class="col-md-2">
    <!-- City Card -->
    {% if city %}
    <div class="card city-card">
        <div class="card-body">
            <h5 class="card-title">Current Location</h5>
            <p class="card-text">{{ city }}</p>
        </div>
    </div>
    {% endif %}
</div> -->

<!-- .city-card {
    overflow: hidden;
    max-width: 100%;
    border: 3px solid #007bff; /* Match the border thickness and color of the search box */
    border-radius: 15px; /* Optional: Rounded corners for a consistent look */
    text-align: center; /* Center-align the text inside the card */
    }
    
    .city-card .card-text {
        margin: 0; /* Ensure no extra margin around the text */
        font-size: 16px; /* Optional: Adjust text size for readability */
    } -->
