{% extends 'core/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Preference Summary</h1>
            <br>
            <h2>User Profile</h2>
            <ul>
                <li>Hometown: {{ user_profile.hometown }}</li>
            </ul>
            <br>
            <h2>Weather Preferences</h2>
            <ul>
                <li>Ideal Max Temperature: {{ weather_preferences.ideal_temp_max }}°C</li>
                <li>Ideal Min Temperature: {{ weather_preferences.ideal_temp_min }}°C</li>
                <li>Love Rainy Days: {{ weather_preferences.rain_lover }}</li>
                <li>Love Snowy Days: {{ weather_preferences.snow_lover }}</li>
                <li>Sun Worshipper: {{ weather_preferences.sun_lover }}</li>
                <li>Hate Wind: {{ weather_preferences.wind_hater }}</li>
            </ul>
            <br>
            <h2>Health Conditions</h2>
            <ul>
                <li>Seasonal Affective Disorder (SAD): {{ health_conditions.sad }}</li>
                <li>Joint Pain &/or Arthritis: {{ health_conditions.joint_pain_arthritis }}</li>
            </ul>
            <br>
            <a href="{% url 'home' %}" class="btn btn-primary">Go to Homepage</a>
        </div>
    </div>
</div>
{% endblock %}
